.wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header__wrapper{
  background-image:url(../img/background.png);
  width: 100%;
  background-repeat: round;
  background-size: cover;
  display: flex;
  padding: 40px 0 47px 0;
  background-color: #111111;
}
.header{
  max-width: 1000px;
  width: 100%;
  justify-content: space-between;
  margin-left: 15%;
}
.footer__wrapper{
  margin: auto auto 0px;
  background: #212121;
  padding: 45px 0 60px 0;
  width: 100%;
  display: flex;
}
.footer{
  max-width: 1190px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 15%;
}
.title{
  white-space: nowrap;
  font-family: 'Oswald', sans-serif;
  font-size: 41px;
  line-height: 145%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.subtitle{
  font-family: "InterRegular", sans-serif;
  font-size: 15px;
  line-height: 145%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}
.row__container{
  display: flex;
  flex-direction: row;
  align-items:center;
}
.tel{
  font-family: 'Oswald', sans-serif;
  font-size: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: right;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.address{
  font-family: 'InterRegular', sans-serif;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}
.call__btn{
  font-family: 'InterRegular', sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #212121;
  background-color: #FFFFFF;
  padding: 21px 42px;
  box-shadow: 0px 15px 30px -12px #000000;
  border-radius: 3px;
  margin: 0 16px 0 30px;
}
.call__btn__footer{
  margin: 0;
  padding: 16px 37px;
}
.header__image__container{
  position: absolute;
  right: 0;
}
.navbar{
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #003471 0%, #212121 191.67%);
  padding: 15px 0;
}
.menu__header{
  width: 100%;
  max-width: 800px;
}
.menu__header li{
  display: inline;
  margin-right: 30px;
}
.menu__footer li{
  margin-bottom: 10px;
}
.grey__text{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.4);
}
.standart__text{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}
li.standart__text:hover{
  color: #FFFFFF99
}
.column__container{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
@media screen and (min-width: 2000px){
  .header__wrapper{
    justify-content: center;
  }
  .header{
    margin-left: -200px;
  }
  .footer__wrapper{
    justify-content: center;
  }
  .footer{
    margin-left: unset;
  }
}

@media screen and (max-width: 1800px){
  .header{
    margin-left: 5%;
  }
  .footer{
    margin-left: 5%;
  }
}